/* Ensure the container takes full viewport height and width */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url('/public/intro-bg.jpg') no-repeat center center/cover;
    color: #fff; /* Adjust text color for better contrast */
    text-align: center;
  }
  
  .header {
    margin-bottom: 20%;
    color: black;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #28a745; /* Customize the button color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Slightly dark background for features section */
  }
  
  .feature {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
  }
  